/* commons */

.ms_container {
    height: 400px;
}

.ms_container_2 {
    height: 250px;
}

/* **** header **** */

.header_top img {
    width: 70px;
}

.header_bottom nav {
    font-size: 0.9rem;
}

/* **** jumbo **** */

/* **** main **** */

/* **** footer **** */

.footer_top ul li {
    list-style: none;
}

.footer_top ul li a {
    text-decoration: none;
}



/* debug */

/* .debug .header_top {
    background-color: black;
} */

/* .debug .header_bottom {
    height: 80px;
    background-color: red;
} */

.debug .jumbo_top {
    background-color: royalblue;
}

.debug .jumbo_bottom {
    background-color: salmon;
}

.debug .jumbo .box {
    height: 100px;
    border: 1px solid black;
    border-radius: 25px;
}

.debug .ps5_top {
    background-color: chartreuse;
}

.debug .ps5_center {
    background-color: rebeccapurple;
}

.debug .ps5_title, .debug .ps5_img {
    height: 300px;
    border: 1px solid black;
}

.debug .ps5_bottom {
    background-color: yellow;
}

.debug .ps5_bottom .box {
    height: 120px;
    border: 1px solid black;
}

.debug .it2 {
    background-color: turquoise;
}

.debug .news {
    background-color: thistle;
}

.debug .news .box {
    height: 150px;
    border: 1px solid black;
    border-radius: 25px;
}

.debug .esplora {
    background-color: violet;
}

.debug .esplora .box {
    height: 200px;
    border: 1px solid black;
}

.debug .p_plus {
    background-color: yellowgreen;
}

.debug .sconti {
    background-color: chocolate;
}

.debug .sconti .box {
    height: 250px;
    border: 1px solid black;
}

.debug .p_now {
    background-color: darkgreen;
}

.debug .social {
    background-color: darkmagenta;
}

.debug .social .box {
    height: 200px;
    border: 1px solid black;
}

.debug .footer_top {
    background-color: darksalmon;
}

.debug .footer_bottom {
    background-color: lightblue;
}