/* commons */

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.ms_container {
    height: 500px;
}

.ms_h2 {
    font-size: 2.3rem;
}

.ms_ul {
    margin: 0;
}

.ms_border_top {
    border-top: 1px solid lightgrey;
}

.ms_dot {
    font-size: 0.6rem;
}

/* **** header **** */

header {
    display: unset;
}

.header_top img {
    width: 70px;
}

.header_bottom {
    font-size: 0.9rem;
    position: sticky;
    top: 0;
}

/* **** nav **** */

.ms_li {
    position: initial;
}

.ms_ul_dm {
    font-size: 13px;
    background-color: white;
    top: 0px !important;
    left: 110px !important;
    right: 20px;
    padding: 0;
    margin: 0 !important;
    border: none;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ms_ul_dm li::marker {
    display: none;
}

.ms_ul_dm img {
    width: 50px;
}

.ms_div_nb {
    height: 30px;
    line-height: 30px;
}

.ms_a_nb::after {
    content: none;
}

.ms_a_nb i {
    font-size: 0.6rem;
}

/* **** jumbo **** */

.jumbo_top {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
}

.jumbo_top img {
    width: 50%;
}

.jumbo_top p {
    font-size: 0.9rem;
}

.jumbo_top button, .it2 button {
    background-color: #cd3d0f;
}

.jumbo_bottom img {
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    transition: 1s;
}

/* **** main **** */

/* ps5 */

.ps5_img img {
    width: 100%;
    max-width: 500px;
}

.ps5_bottom img {
    width: 100%;
    max-width: 200px;
    filter: grayscale(100%);
    
}

.ms_col_ps5 {
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

/* it2 */

.it2 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.it2 img{
    width: 55%;
}

/* news */

.news {
    background-color: #1f1f1f;
}

.news img {
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.news .box p {
    font-size: 0.8rem;
}

/* esplora */

.esplora img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* p-plus */

.p_plus {
    background-color: #bebcbb;
}

.p_plus img {
    width: 55%;
}

.p_plus button {
    color: #3267e5;
    background-color: #d9dadc;
}

/* sconti */

.sconti img {
    width: 100%;
}

/* p_now */

.p_now {
    background-color: #161c3b;
}

.p_now img {
    width: 55%;
}

/* social */

.social img {
    width: 100%;
    max-width: 150px;
}

/* **** footer **** */

footer {
    background-color: #00439c;
}

/* footer top */

.footer_top .logo_play img {
    width: 100px;
}

.footer_top .footer_region {
    height: 30px;
    line-height: 30px;
}

.footer_top .footer_region img {
    width: 15px;
}

.footer_top ul li {
    list-style: none;
    margin: 5px 0;
}

.footer_top ul li a {
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

/* footer bottom */

.footer_bottom img {
    width: 100px;
}

/* effetti hover */

.jumbo_bottom img:hover {
    transform: translateY(-20%);
}

.ps5_bottom .ms_col_ps5:hover {
    border-bottom: 2px solid blue;
}

.ps5_bottom img:hover {
    filter: none;
   
}

@media (max-width: 492px) {

    .ms_ul_dm {
        font-size: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .ms_ul_dm {
        bottom: 155px !important;
    }
}

@media (min-width: 992px) {

    .ms_ul_dm {
        top: 70px !important; 
        right: 0px; 
        left: 0px !important;
    }

    .ms_position_initial {
        position: initial !important;

    }
}




/* debug */

/* .debug .header_top {
    background-color: black;
} */

/* .debug .header_bottom {
    height: 80px;
    background-color: red;
} */

/* .debug .jumbo_top {
    background-color: royalblue;
} */

/* .debug .jumbo_bottom {
    background-color: salmon;
} */

/* .debug .jumbo .box {
    height: 100px;
    border: 1px solid black;
    border-radius: 25px;
} */

/* .debug .ps5_top {
    background-color: chartreuse;
} */

/* .debug .ps5_center {
    background-color: rebeccapurple;
}

.debug .ps5_title, .debug .ps5_img {
    height: 300px;
    border: 1px solid black;
} */

/* .debug .ps5_bottom {
    background-color: yellow;
}

.debug .ps5_bottom .box {
    height: 120px;
    border: 1px solid black;
} */


/* .debug .it2 {
    background-color: turquoise;
} */

/* .debug .news {
    background-color: thistle;
}

.debug .news .box {
    height: 150px;
    border: 1px solid black;
    border-radius: 25px;
} */

/* .debug .esplora {
    background-color: violet;
}

.debug .esplora .box {
    height: 200px;
    border: 1px solid black;
} */

/* .debug .p_plus {
    background-color: yellowgreen;
} */

/* .debug .sconti {
    background-color: chocolate;
}

.debug .sconti .box {
    height: 250px;
    border: 1px solid black;
} */

/* .debug .p_now {
    background-color: darkgreen;
} */

/* .debug .social {
    background-color: darkmagenta;
}

.debug .social .box {
    height: 200px;
    border: 1px solid black;
} */

/* .debug .footer_top {
    background-color: darksalmon;
}

.debug .footer_bottom {
    background-color: lightblue;
} */